<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_Of_Life.Properties.Settings"

                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_Of_Life.Properties.Settings>
            <setting name="Seed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ColorGrid" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="ColorBack" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorCell" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="BorderType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GridEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NeighborsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerMS" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ColorGrid10x" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HUDEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Game_Of_Life.Properties.Settings>
    </userSettings>
</configuration>